body{
    background-color: #e0dfd5
}
.navbar{
    background-color:white;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
     /* Text styles */
    text-align: center;
    color:white;
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image: url("../images/monkees.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#social,.subscribe{
    text-align: right;
}
.para1,.para2,.para3{
    margin:20px 20px 20px 20px;
    line-height: 3;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}
.header1{
    margin:20px 20px 20px 20px;
    text-transform: uppercase;
}
.card-title{
    text-transform: uppercase;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    text-transform: uppercase;
    color:#026670;
}
.aboutus,.card-deck,.card{
    border-radius: 25px;
    border: 1px solid #000000;
    color:#4D6D9A;
}
.contactus{
    margin:10px 10px 10px 10px;
}
.nav-item:hover{
    border: 2px solid black;
}
.media1{
     margin:20px 20px 20px 20px;
}
.btn:hover{
    background-color: #9FEDD7;
}

    