body{
    background-color: #e0dfd5
}
.navbar,.nav{
    background-color:white;
}
.hero-inner{
    color:orange;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
     /* Text styles */
    text-align: center;
    color:white;
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image: url("../images/monkees.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#social,.subscribe{
    text-align: right;
}
.para1,.para2,.para3{
    margin:20px 20px 20px 20px;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    text-align: justify;
}
.header1{
    margin:20px 20px 20px 20px;
    text-transform: uppercase;
}
.card-title{
    text-transform: uppercase;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    text-transform: uppercase;
    color:#026670;
}
.aboutus,.card-deck,.card{
    color:#4D6D9A;
    background-color: #e0dfd5;
}
.contactus{
    margin:10px 10px 10px 10px;
}
.nav-link:hover{
    color:orange;
    text-decoration:underline;
    display: flex;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0 0.75rem;
}
li:not(:last-child) {
  border-right: 2px solid #d2d5e4;
}
.media1{
     margin:20px 20px 20px 20px;
}
.btn:hover{
    background-color: #9FEDD7;
}
footer{
    padding-top: 30px;
    background-color: #f09d51;
}
.subscribe{
    padding-top: 30px;
}
.row{
  display: flex;
  margin: 20px 20px 20px 20px;
  text-align: justify;
}
.column{
  flex: 50%;
}
